<div class="mt-4">
  <form method="post"> {{!after submit redirect to news page if use action="/news"--}}
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Search something..."
        name="q"
      />
    </div>

    <div class="mb-3">
      <label for="gender-input" class="form-label">Search</label>
      <select name="gender" id="gender-input" class="form-controll">
        <option value="">-- Choose gender --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
   
    <button type="submit" class="btn btn-primary">Find</button>
  </form>
</div>